.container {
  margin: 20px 25px;
  margin-bottom: 75px;
}
.radio input {
  margin-right: 6px;
}
.radio label {
  margin-right: 10px;
}
.checkbox input {
  display: inline;
  margin-right: 10px;
  width: auto;
  vertical-align: middle;
}
.checkbox label {
  display: inline;
  vertical-align: middle;
}
.add {
  margin-bottom: 15px;
}


.flex {
  display: flex;
  justify-content: space-around;
}
.column {
  flex-direction: column;
}
.field {
  margin-bottom: 25px;
}
label, input {
  display: block;
}
label {
  color: #AAA;
  font-size: 20px;
  margin-bottom: 8px;
}
input {
  color: #777;
  font-size: 16px;
  height: 32px;
  padding: 0 4px;
  width: 280px;
}
.radio input {
  display: inline;
  vertical-align: middle;
  width: 20px;
}
.radio label {
  display: inline;
  vertical-align: middle;
}
.pull-right {
  float: right;
}
.button {
  color: white;
  cursor: pointer;
  background: #5FACBE;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
  display: table;
  font-size: 17px;
  padding: 11px 30px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
	background: #5193A2;
}
.button:active {
	box-shadow: none;
}
.button.small {
  margin: 0 0;
  padding: 4px 12px;
}
.rows .button {
  margin-bottom: 8px;
}
.rows input {
  margin-bottom: 8px;
}
.dependent {
  margin-top: 15px;
  margin-bottom: 25px;
}
